@import "../../../../../colors";

.TaskListItem {
  background-color: $header-grey;
  border-radius: 16px;
  min-width: 420px;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  .TaskListItemRemove {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.Active {
  border: 1px solid $border-grey;
}


