@import "src/colors";

.Header {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: $header-grey;
  color: $white;
  font-weight: bold;
  padding-left: 24px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
